# redaxo configuration
# contains sensitive data and should not be stored in a git repo!
/redaxo/data/core/config.yml

# cache folder (except hidden files)
/redaxo/cache/*
!/redaxo/cache/.*

# media folder (except hidden files)
/media/*
!/media/.*

# log files
*.log

# PHPStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.iml
modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/encodings.xml
*.ipr
.DS_Store